.git
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc

#editor settings
.idea
.editorconfig